.tip {
  text-align: left;
}

.tip-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

button {
  background-color: var(--very-dark-cyan);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  height: 48px;
}

button:active {
  background-color: var(--very-dark-cyan);
  color: var(--strong-cyan);
}
